.form__header {
  display: flex;
  justify-content: space-between;
  max-width: 718px;
  width: 100%;
  padding-bottom: 66px;
  &-title {
    margin: 0;
    max-width: max-content;
    font-size: 30px;
    line-height: calc(34 / 30);
    color: #666666;
  }
  &-status {
    margin: 0;
    color: #0c77bb;
    width: max-content;
    border: none;
    padding: 0;
    border-bottom: 1px dashed;
    font-size: 12px;
    line-height: calc(20 / 12);
    background-color: transparent;
    cursor: pointer;
  }
  &-user {
    position: relative;
    color: black;
    text-overflow: ellipsis;
    &:before {
      content: '';
      position: absolute;
      width: 11px;
      height: 11px;
      left: 20px;
      top: $fifty - 5px;
      background: #eaeaea;
      transform: rotate(45deg);
    }
  }
  &-input {
    outline: none;
    width: 100%;
    font-size: 16px;
    line-height: calc(20 / 16);
    padding: 0;
    height: max-content;
  }
  &-close {
    padding: 0;
    height: max-content;
    font-size: 16px;
    line-height: calc(20 / 16);
  }
}

@media screen and (max-width: 768px) {
  .form__header {
    align-items: center;
    flex-direction: column-reverse;
    gap: 20px;
    &-title {
      display: flex;
      flex-direction: column;
      font-size: 25px;
    }
  }
}
