.form {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 90px 100px 0 100px;
  box-sizing: border-box;
  &__header {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 718px;
    width: 100%;
    padding-bottom: 96px;
    &-title {
      margin: 0;
      width: max-content;
    }
    &-status {
      color: #0c77bb;
      width: max-content;
      border-bottom: 1px dotted;
    }
    &-tooltip {
      position: absolute;
      display: flex;
      left: 234px;
      top: 50px;
      background-color: #eaeaea;
      width: 500px;
      height: 46px;
    }
    &:before {
      content: '';
      position: absolute;
      width: 11px;
      height: 11px;
      left: 245px;
      top: 45px;

      background: #eaeaea;
      transform: rotate(45deg);
    }
  }

  &__inputs {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 30px;
    gap: 40px;
    &:nth-child(n + 1) {
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        background-color: #e5e4e4;
      }
    }
    &:nth-last-child(1) {
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0;
        bottom: 0;
        background-color: #e5e4e4;
      }
    }
  }
}
